%p#notice= notice

%p
  %b Title:
  = @page.title
%p
  %b Content:
  = markdown @page.content
%p
  %b Owner:
  = @page.owner_id
%p
  %b Private:
  = @page.private
%hr
- if policy(@page).edit?
  = form_tag "/pages/#{@page.id}/set_collaborators", method: :put do
    - @wiki_users.each do |wiki_user|
      .check_box_div
        = wiki_user.name
        = wiki_user.email
        = check_box_tag "wiki_users[]", wiki_user.id, @page.has_collab?(wiki_user)
    = submit_tag
%hr

- if policy(@page).edit?
  = link_to 'Edit', edit_page_path(@page)
\|
= link_to 'Back', root_path
